@font-face {
    font-family: 'ArcadeFont';
    src: url('./font/ARCADE_N.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.game-buttons {
    display: flex;
    justify-content: center;
    gap: 10vh;
    margin-top: 20px;
    margin-left: 56vh;
}

.btn-control {
    font-size: 48px;
    min-width: 200px;
    width: 300px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 15px;
    background: #f0f0f0;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.btn-control:active {
    background: #ddd;
    transform: scale(0.95);
}

#btnRecarregar {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}